body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../assets/pexels-anthony-\)-139038.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  color: rgb(60, 54, 54);
}

h1 {
  font-weight: 600;
  color: bisque;
}

h2 {
  font-weight: 400;
}

.main-view {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.right-col,
.left-col {
  width: 40%;
}

.left-col {
  background-color: rgba(255, 228, 196, 0.666);
  padding: 1em 1em;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.left-col .scores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-score-header {
  background-color: bisque;
  text-align: center;
  border-radius: 20px 20px 0 0;
  color: rgb(60, 54, 54);
}

.scores-title {
  background-color: bisque;
  position: absolute;
  left: 0%;
  top: 0.5em;
  padding: 0 1em;
  border-radius: 0 5px 20px 0;
}

#refresh {
  position: absolute;
  top: 2.5em;
  right: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

form input {
  padding: 1em;
}

form button {
  width: 7em;
  padding: 0.5em;
  align-self: flex-end;
}

table {
  margin-top: 5em;
  border-collapse: collapse;
  width: 100%;
  border: solid 1px black;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tbody:nth-child(even) {
  background-color: rgba(255, 228, 196, 0.513);
}

.header {
  animation: anim 3s linear infinite;
  width: 30%;
}

@keyframes anim {
  0% {
    transform: rotateY(60deg);
  }

  50% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(60deg);
  }
}
